* {

    font-family: Verdana;

}

header {

    display: flex;
    flex-flow: row;
    margin: 0;

}

#menu {

    background-color: sandybrown;
    height: 120px;
    width: 60%;
    display: inline-flex;
    justify-content: start;
    align-items: center;
    


}

#logo {

    background-color: sienna;
    color: white;
    text-align: center;
    height: 120px;
    width: 40%;


}

main {

    display: flex;
    flex-flow: row;

}

#main_left {

    background-color: sienna;
    color: white;
    height: 700px;
    width: 60%;

}

#main_right {

    background-color: sandybrown;
    height: 700px;
    width: 40%;

}

footer {

    background-color: #4D1900;
    color: white;
    text-align: right;

}

#menu>a {

    background-color: green;
    color: yellow;
    padding: 20px 50px 20px 50px;
    margin-right: 2px;

}

#menu>a:hover {

    background-color: yellow;
    color: green;

}